@import '../variables';

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 450px) {
      transition: all 0.4s ease;
      overflow: hidden;
      height: 0;
      width: 200px;
      flex-direction: column;
      flex-wrap: nowrap;
      &.open {
        overflow: visible;
        height: 300px;
        display: block;
      }
      .categories__button {
        display: block;
      }
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
  &__button {
    display: none;
    text-align: center;
    padding: 5px;
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    @include noselect();
    b {
      font-size: 18px;
      margin-right: 5px;
    }
    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }
    @media (max-width: 450px) {
      display: block;
    }
  }
}
.categories__button {
  svg {
    transition: all 0.4 ease;
  }
}
